<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <title>7.9 - Deberes</title>
</head>

<body>
  <div id="app" class="container">
    <div class="row justify-content-center align-items-center m-5">
      <div class="input-group">
        <input type="search" class="form-control" placeholder="Buscar..." v-model="busqueda">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button">¡Buscar!</button>
        </span>
      </div>
    </div>
    <div class="row justify-content-between align-items-center m-5">
      Género
      <select class="custom-select" v-model="select">
          <option value="">Todos</option>
          <option value="Acción">Acción</option>
          <option value="Adolescente">Adolescente</option>
          <option value="Aventura">Aventura</option>
          <option value="Ciencia ficción">Ciencia ficción</option>
          <option value="Crimen">Crimen</option>
          <option value="Comedia">Comedia</option>
          <option value="Comedia negra">Comedia negra</option>
          <option value="Drama">Drama</option>
          <option value="Fantasía">Fantasía</option>
          <option value="Parodia">Parodia</option>
          <option value="Romance">Romance</option>
          <option value="Suspense">Suspense</option>
          <option value="Terror">Terror</option>
          <option value="Thriller">Thriller</option>
        </select>
        <div>
          <span class="mr-4">0</span><input type="range" min="0" max="10" v-model="minimo" list="puntuacion"><span class="ml-4">10</span>
        </div>
      <datalist id="puntuacion">
        <option value="0" label="0">
        <option value="1">
        <option value="2">
        <option value="3">
        <option value="4">
        <option value="5" label="5">
        <option value="6">
        <option value="7">
        <option value="8">
        <option value="9">
        <option value="10" label="10">
      </datalist>
      Ordenar...
      <button class="btn btn-danger" @click="ordenarValoracion">
        {{ textoValoracion }}
      </button>
      <button class="btn btn-danger" @click="ordenarAlfabeticamente">
        {{ textoAlfabetico }}
      </button>
    </div>
    <div class="row justify-content-center align-items-center m-2">
      <ul class="list-group" v-for="pelicula in funcionamiento">
        <li class="list-group-item">
          <div class="card text-white bg-dark mb-3" style="width: 20rem;">
            <div class="card-body">
              <h4 class="card-title">{{ pelicula.titulo }}</h4>
              <p class="card-text">{{ pelicula.genero }}</p>
              <span class="badge badge-primary p-3"> Valoración: {{ pelicula.valoracion }}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <pre>{{ $data }}</pre>
  </div>
</body>
<script src="https://vuejs.org/js/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
<script type="text/javascript" src="main.js"></script>

</html>
